{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Créer un compte{% endblock %}

{% block fos_user_content %}
    <div class="row justify-content-center">
        <div class="col-8 mt-4 text-center">
            {% include "@FOSUser/Registration/register_content.html.twig" %}
            <small><i class="fas fa-question-circle"></i> Pour lier ton compte a ta licence merci d'utiliser le même email que sur le <a href="https://espacetri.fftri.com/" target="_blank">l'espace tri.</a></small>
        </div>
    </div>
{% endblock fos_user_content %}
