<div class="card bg-dark text-white">
    <div class="card-body">
        <p class="text-center">
            <a href="{{ path('outsider_show',{uid:outsider.id}) }}"><img src="{{ gravatar('outsider',100,'g','mp') }}" class="rounded-circle border border-dark mb-1"  /></a>
        </p>
        <p class="card-text text-center">{{ outsider.firstname | capitalize }} {{ outsider.lastname | upper }}</p>
        Non Licencié{% if outsider.gender == 2 %}e{% endif %} FFTRI
    </div>
</div>