<form method="post" action="{{ path('planned_team_delete', {'id': team.id}) }}" onsubmit="return confirm('Êtes vous certain de vouloir supprimer cette équipe ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;Supprimer</button>
</form>
