{% extends 'base.html.twig' %}

{% block title %}New Athlete{% endblock %}

{% block body %}
    <h1>Create new Athlete</h1>

    {{ include('athlete/_form.html.twig') }}

    <a href="{{ path('athlete_index') }}">back to list</a>
{% endblock %}
