Bonjour {{ user.email }} !<br>
Pour valider ton compte utilisateur, il suffit de visiter <a href="{{ confirmationUrl }}">ce lien</a><br>
Il ne peut être utilisé qu'une seule fois.<br>
Cordialement, L'équipe